.footer {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: white;
  padding: 0px 30px;
}

.links {
  display: flex;
  flex-direction: row;
}

.link {
  padding: 5px;
  color: rgb(168, 238, 255);
}

.link:hover {
  color: white
}